.nav-item:hover {
  background-color: rgb(102, 161, 42);
  border-radius: 30px;
}
.active {
  font-weight: bold;
  background-color: rgb(82, 252, 3);
  color: rgb(0, 0, 0) !important;
  border-radius: 30px;
}
.container {
  background:radial-gradient(circle, #7486eb, #9fe6e0);
  color: aliceblue;
  border-radius: 10px;
}
